
@font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Heavy";
                          src: url('../fonts/SF-Pro-Text-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Heavy";
                          src: url('../fonts/SF-Pro-Display-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFCompactRounded-Heavy";
                          src: url('../fonts/SF-Compact-Rounded-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Thin";
                          src: url('../fonts/SF-Pro-Display-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Regular";
                          src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Medium";
                          src: url('../fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        
.contact-LTLW4R {
  overflow            : hidden;
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  margin              : 0px;
  padding             : 98.0px 64.0px;
  width               : 100%;
  min-width           : 1440.0px;
  height              : auto;
  min-height          : 1024.0px;
  background-color    : #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter6 {
  opacity             : 0;
  transform           : translate(0, 50px);
  display             : block;
  -webkit-animation   : anima-animate-enter6-frames 0.5s ease-in 1 normal forwards;
  -moz-animation      : anima-animate-enter6-frames 0.5s ease-in 1 normal forwards;
  -o-animation        : anima-animate-enter6-frames 0.5s ease-in 1 normal forwards;
  animation           : anima-animate-enter6-frames 0.5s ease-in 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 50px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 50px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 50px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 50px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter7 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter7-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter7-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter7-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter7-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.10000000149s;
  -moz-animation-delay: 0.10000000149s;
  -o-animation-delay  : 0.10000000149s;
  animation-delay     : 0.10000000149s;
}
@-webkit-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter8 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter8-frames 0.5s ease-out 1 normal forwards;
  -moz-animation      : anima-animate-enter8-frames 0.5s ease-out 1 normal forwards;
  -o-animation        : anima-animate-enter8-frames 0.5s ease-out 1 normal forwards;
  animation           : anima-animate-enter8-frames 0.5s ease-out 1 normal forwards;
  -webkit-animation-delay: 0.20000000298s;
  -moz-animation-delay: 0.20000000298s;
  -o-animation-delay  : 0.20000000298s;
  animation-delay     : 0.20000000298s;
}
@-webkit-keyframes anima-animate-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter9 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter9-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter9-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter9-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter9-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.300000011921s;
  -moz-animation-delay: 0.300000011921s;
  -o-animation-delay  : 0.300000011921s;
  animation-delay     : 0.300000011921s;
}
@-webkit-keyframes anima-animate-enter9-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter9-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter9-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter9-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter10 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter10-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter10-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter10-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter10-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0.40000000596s;
  -moz-animation-delay: 0.40000000596s;
  -o-animation-delay  : 0.40000000596s;
  animation-delay     : 0.40000000596s;
}
@-webkit-keyframes anima-animate-enter10-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter10-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter10-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter10-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.contact-LTLW4R .website-created-ma-pYTC9J {
  position            : relative;
  width               : auto;
  min-width           : 1199.70300293px;
  height              : auto;
  min-height          : 95px;
  color               : #498fe1;
  font                : 80.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 95.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
  margin-left         : 14.0px;
  flex-shrink         : 0;
}
.contact-LTLW4R .japneet-singh-pHxuWK {
  position            : relative;
  width               : auto;
  min-width           : 523.70300293px;
  height              : auto;
  min-height          : 95px;
  color               : #ffffff;
  font                : 80.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 95.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
  margin-top          : 7px;
  margin-left         : 14.0px;
  flex-shrink         : 0;
}
.contact-LTLW4R .reach-out-to-me-on-lqP2pm {
  position            : relative;
  width               : auto;
  min-width           : 483.70300293px;
  height              : auto;
  min-height          : 71px;
  color               : #ffffff;
  font                : 60.0px "SFProDisplay-Thin", Helvetica, Arial, serif;
  line-height         : 71.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
  margin-top          : 13px;
  margin-left         : 24.0px;
  flex-shrink         : 0;
}
.contact-LTLW4R .auto-flex-Sh5PI3 {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 134px;
  box-sizing          : border-box;
  margin-top          : 34px;
  margin-left         : 11.0px;
  flex-shrink         : 0;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj {
  position            : relative;
  width               : 134px;
  height              : 134px;
  flex-shrink         : 0;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj .mediasociallogogithubicon-75UugB {
  position            : absolute;
  top                 : 0px;
  left                : 15px;
  width               : 84px;
  height              : 84px;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj .mediasociallogogithubicon-75UugB {
  opacity             : 0;
  transform           : translate(0, 50px);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj .mediasociallogogithubicon-75UugB {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj .mediasociallogogithubicon-75UugB:hover {
  transform           : translate(0, -5px);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj .git-hub-aVdxJi {
  position            : absolute;
  top                 : 76px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Thin", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj .git-hub-aVdxJi {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group-r6ltQj .git-hub-aVdxJi:hover {
  text-decoration     : underline;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr {
  position            : relative;
  width               : 159px;
  height              : 134px;
  margin-left         : 14px;
  flex-shrink         : 0;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr .logolinkedinsocialmediaicon-2lexuy {
  position            : absolute;
  top                 : 0px;
  left                : 35px;
  width               : 68px;
  height              : 84px;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr .logolinkedinsocialmediaicon-2lexuy {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr .logolinkedinsocialmediaicon-2lexuy {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr .logolinkedinsocialmediaicon-2lexuy:hover {
  transform           : scale(1.1);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr .linked-in-yGU7mQ {
  position            : absolute;
  top                 : 76px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Thin", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr .linked-in-yGU7mQ {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group1-Tzdrnr .linked-in-yGU7mQ:hover {
  text-decoration     : underline;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC {
  position            : relative;
  width               : 109px;
  height              : 134px;
  margin-left         : 20px;
  flex-shrink         : 0;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC .sociallogogooglemediaicon-RqDqo4 {
  position            : absolute;
  top                 : 0px;
  left                : 8px;
  width               : 84px;
  height              : 84px;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC .sociallogogooglemediaicon-RqDqo4 {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC .sociallogogooglemediaicon-RqDqo4 {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC .sociallogogooglemediaicon-RqDqo4:hover {
  transform           : scale(1.1);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC .g-mail-ukSOP9 {
  position            : absolute;
  top                 : 76px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Thin", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC .g-mail-ukSOP9 {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group2-uwvlDC .g-mail-ukSOP9:hover {
  text-decoration     : underline;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG {
  position            : relative;
  width               : 190px;
  height              : 134px;
  margin-left         : 27px;
  flex-shrink         : 0;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG .facebooklogosocialmediaicon-KWVLuc {
  position            : absolute;
  top                 : 0px;
  left                : 40px;
  width               : 84px;
  height              : 84px;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG .facebooklogosocialmediaicon-KWVLuc {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG .facebooklogosocialmediaicon-KWVLuc {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG .facebooklogosocialmediaicon-KWVLuc:hover {
  transform           : scale(1.1);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG .facebook-WXueAb {
  position            : absolute;
  top                 : 76px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Thin", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG .facebook-WXueAb {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group3-O4DNiG .facebook-WXueAb:hover {
  text-decoration     : underline;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY {
  position            : relative;
  width               : 125px;
  height              : 134px;
  margin-left         : 10px;
  flex-shrink         : 0;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY .twitterlogomediasocialicon-aA8Nyj {
  position            : absolute;
  top                 : 0px;
  left                : 8px;
  width               : 84px;
  height              : 84px;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY .twitterlogomediasocialicon-aA8Nyj {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY .twitterlogomediasocialicon-aA8Nyj {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY .twitterlogomediasocialicon-aA8Nyj:hover {
  transform           : scale(1.1);
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY .twitter-rBOBO9 {
  position            : absolute;
  top                 : 76px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Thin", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY .twitter-rBOBO9 {
  pointer-events      : auto;
}
.contact-LTLW4R .auto-flex-Sh5PI3 .overlap-group4-gmrroY .twitter-rBOBO9:hover {
  text-decoration     : underline;
}
.contact-LTLW4R .group-jgV8bk {
  position            : relative;
  width               : 775px;
  height              : 106px;
  margin-top          : 112px;
  flex-shrink         : 0;
}
.contact-LTLW4R .group-jgV8bk .rectangle14-JdorMJ {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 775px;
  height              : 106px;
  background-color    : #262727;
  border              : 1.0px solid #010203;
  border-radius       : 49.0px;
}
.contact-LTLW4R .group-jgV8bk .lashell-noe-sitemap-tki88P {
  position            : absolute;
  top                 : 16px;
  left                : 77px;
  width               : 595px;
  height              : auto;
  color               : #ffffff;
  font                : 60.0px "Impact", Helvetica, Arial, serif;
  line-height         : 74.0px;
  letter-spacing      : -0.73px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .group-jgV8bk .lashell-noe-sitemap-tki88P {
  pointer-events      : auto;
}
.contact-LTLW4R .group-jgV8bk .lashell-noe-sitemap-tki88P:hover {
  text-decoration     : underline;
}
.contact-LTLW4R .group1-aYbxAK {
  position            : relative;
  width               : 775px;
  height              : 106px;
  margin-top          : 25px;
  flex-shrink         : 0;
}
.contact-LTLW4R .group1-aYbxAK .rectangle14-CRu1wv {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 775px;
  height              : 106px;
  background-color    : #262727;
  border              : 1.0px solid #010203;
  border-radius       : 49.0px;
}
.contact-LTLW4R .group1-aYbxAK .lashell-noe-home-VjKfwy {
  position            : absolute;
  top                 : 16px;
  left                : 77px;
  width               : 595px;
  height              : auto;
  color               : #ffffff;
  font                : 60.0px "Impact", Helvetica, Arial, serif;
  line-height         : 74.0px;
  letter-spacing      : -0.73px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.contact-LTLW4R .group1-aYbxAK .lashell-noe-home-VjKfwy {
  pointer-events      : auto;
}
.contact-LTLW4R .group1-aYbxAK .lashell-noe-home-VjKfwy:hover {
  text-decoration     : underline;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
* {
  box-sizing          : border-box;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}