
@font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Heavy";
                          src: url('../fonts/SF-Pro-Text-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Heavy";
                          src: url('../fonts/SF-Pro-Display-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFCompactRounded-Heavy";
                          src: url('../fonts/SF-Compact-Rounded-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Thin";
                          src: url('../fonts/SF-Pro-Display-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Regular";
                          src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Medium";
                          src: url('../fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        
.order-confirmation-heK4Qz {
  overflow            : hidden;
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : center;
  margin              : 0px;
  width               : 100%;
  min-width           : 1440.0px;
  height              : auto;
  min-height          : 2000.0px;
  background-color    : #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter12 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter12-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter12-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter12-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter12-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter12-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter13 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter13-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter13-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter13-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter13-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter13-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter14 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter14-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter14-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter14-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter14-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter14-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter15 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter15-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter15-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter15-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter15-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter16 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter16-frames 1s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter16-frames 1s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter16-frames 1s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter16-frames 1s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter17 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys {
  position            : relative;
  width               : 1460px;
  height              : 108px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .rectangle-gmao5M {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 1460px;
  height              : 108px;
  background-color    : #000000;
  border              : 1.0px solid #969696;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group9-xQrlWz {
  position            : absolute;
  top                 : 21px;
  left                : 1372px;
  width               : 69px;
  height              : 69px;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group9-xQrlWz {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group9-xQrlWz:hover {
  transform           : scale(1.1);
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group9-xQrlWz .oval-pemAnF {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 69px;
  height              : 69px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group9-xQrlWz .oval2-r1Whuk {
  position            : absolute;
  top                 : 9px;
  left                : 9px;
  width               : 50px;
  height              : 50px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group9-xQrlWz .oval3-Z6Vu0r {
  position            : absolute;
  top                 : 18px;
  left                : 23px;
  width               : 23px;
  height              : 23px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group9-xQrlWz .oval4-JFCtpy {
  position            : absolute;
  top                 : 47px;
  left                : 9px;
  width               : 50px;
  height              : 18px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group10-8i1vN3 {
  position            : absolute;
  top                 : 19px;
  left                : 1244px;
  width               : 86px;
  height              : 77px;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group10-8i1vN3 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group10-8i1vN3:hover {
  transform           : scale(1.1);
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group10-8i1vN3 .shoppingcartpngrepocom-t94lGa {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 77px;
  height              : 77px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group10-8i1vN3 .glyphs-notification-icon-AFkNaY {
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  top                 : 9px;
  left                : 66px;
  width               : auto;
  height              : 20px;
  box-sizing          : border-box;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group10-8i1vN3 .glyphs-notification-icon-AFkNaY .app-icon-hTH6TP {
  position            : relative;
  width               : 20px;
  height              : 20px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .group10-8i1vN3 .a1-BLC86x {
  position            : absolute;
  top                 : 9px;
  left                : 72px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 16.0px "SFCompactRounded-Heavy", Helvetica, Arial, serif;
  line-height         : 19.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .glyphs-search-7uDg3P {
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  top                 : 20px;
  left                : 1128px;
  width               : auto;
  height              : 74px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .glyphs-search-7uDg3P {
  opacity             : 0;
  transform           : translate(-25px, 0);
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .glyphs-search-7uDg3P {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .glyphs-search-7uDg3P:hover {
  transform           : scale(1.1);
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .glyphs-search-7uDg3P .search-viHTr2 {
  position            : relative;
  width               : 74px;
  height              : 74px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .a-bout-6znxRd {
  position            : absolute;
  top                 : 37px;
  left                : 909px;
  width               : 182px;
  height              : auto;
  color               : #ffffff;
  font                : 40.0px "SFProText-Heavy", Helvetica, Arial, serif;
  line-height         : 25.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .a-bout-6znxRd {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .a-bout-6znxRd:hover {
  transform           : translate(0, -5px);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .a-bout-6znxRd .span1-3cKTdg {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 48.0px;
  letter-spacing      : 0.0px;
}
.order-confirmation-heK4Qz .a-bout-6znxRd .span2-LgZQde {
  background-color    : rgba(65025, 65025, 65025, 0);
  font-size           : 25.0px;
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 30.0px;
  letter-spacing      : 0.0px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .s-hop-9sY0lU {
  position            : absolute;
  top                 : 37px;
  left                : 747px;
  width               : 138px;
  height              : auto;
  color               : #ffffff;
  font                : 40.0px "SFProText-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .s-hop-9sY0lU {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .s-hop-9sY0lU:hover {
  transform           : translate(0, -5px);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .s-hop-9sY0lU .span1-GaG3mx {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.order-confirmation-heK4Qz .s-hop-9sY0lU .span2-4gR1mS {
  background-color    : rgba(65025, 65025, 65025, 0);
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .s-peakers-nc4H6B {
  position            : absolute;
  top                 : 36px;
  left                : 489px;
  width               : 224px;
  height              : auto;
  color               : #ffffff;
  font                : 40.0px "SFProText-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .s-peakers-nc4H6B {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .s-peakers-nc4H6B:hover {
  transform           : translate(0, -5px);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .s-peakers-nc4H6B .span1-mIDimg {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.order-confirmation-heK4Qz .s-peakers-nc4H6B .span2-m79piK {
  background-color    : rgba(65025, 65025, 65025, 0);
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 0.0px;
  letter-spacing      : -0.16px;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .screen-shot20200320-at12554-am-ZG5xxi {
  position            : absolute;
  top                 : 22px;
  left                : 12px;
  width               : 430px;
  height              : 70px;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .screen-shot20200320-at12554-am-ZG5xxi {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .screen-shot20200320-at12554-am-ZG5xxi:hover {
  box-shadow          : 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .line-NTDTMj {
  position            : absolute;
  top                 : 92px;
  left                : 746px;
  width               : 144px;
  height              : 6px;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .line-NTDTMj {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group1-6pm2Ys .line-NTDTMj:hover {
  transform           : translate(0, -5px);
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV {
  position            : relative;
  width               : 1417px;
  height              : 1309px;
  margin-top          : 21px;
  margin-left         : 1.0px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .rectangle11-goJS7e {
  position            : absolute;
  top                 : 157px;
  left                : 16px;
  width               : 1385px;
  height              : 1152px;
  background-color    : #ffffff;
  border              : 10.0px solid #000000;
  border-radius       : 37.0px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .group5-7OOrYP {
  position            : absolute;
  top                 : 72px;
  left                : 0px;
  width               : 1417px;
  height              : 103px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .group5-7OOrYP .rectangle51-xsnobP {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 1417px;
  height              : 64px;
  background-color    : #000000;
  border-radius       : 29.0px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .group5-7OOrYP .rectangle62-Q80AT8 {
  position            : absolute;
  top                 : 6px;
  left                : 7px;
  width               : 1403px;
  height              : 50px;
  background-color    : #ffffff;
  border-radius       : 25.0px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .group5-7OOrYP .rectangle611-FANvir {
  position            : absolute;
  top                 : 6px;
  left                : 7px;
  width               : 1403px;
  height              : 50px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .group5-7OOrYP .sounddeck-pro-lU5IHU {
  position            : absolute;
  top                 : 7px;
  left                : 28px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 40.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : left;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .group5-7OOrYP .tech-specs-ULaMgD {
  position            : absolute;
  top                 : 7px;
  left                : 777px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 40.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : left;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .rectangle5-1Zsdof {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 1417px;
  height              : 64px;
  background-color    : #000000;
  border-radius       : 29.0px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .rectangle6-971Qg7 {
  position            : absolute;
  top                 : 6px;
  left                : 7px;
  width               : 1403px;
  height              : 50px;
  background-color    : #ffffff;
  border-radius       : 25.0px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .rectangle3-JGT3iT {
  position            : absolute;
  top                 : 82px;
  left                : 1103px;
  width               : 303px;
  height              : 41px;
  background-color    : #000000;
  border-radius       : 20.5px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .buy-now-40023b {
  position            : absolute;
  top                 : 82px;
  left                : 1178px;
  width               : 153px;
  height              : auto;
  color               : #ffffff;
  font                : 36.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -0.13px;
  text-align          : left;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .rectangle61-ciPKFX {
  position            : absolute;
  top                 : 6px;
  left                : 7px;
  width               : 1403px;
  height              : 50px;
  background-color    : #ffffff;
  border-radius       : 25.0px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .rectangle31-IWUwEE {
  position            : absolute;
  top                 : 11px;
  left                : 13px;
  width               : 334px;
  height              : 41px;
  background-color    : #060606;
  border-radius       : 20.5px;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .collection-6gtZEa {
  position            : absolute;
  top                 : 8px;
  left                : 78px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 40.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : left;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .accessories-hS7kEB {
  position            : absolute;
  top                 : 7px;
  left                : 425px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 40.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : left;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .pro-components-QRgFWV {
  position            : absolute;
  top                 : 7px;
  left                : 738px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 40.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : left;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .compare-qrSsmL {
  position            : absolute;
  top                 : 7px;
  left                : 1140px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 40.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : left;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .thankyou-your-order-TkE8jl {
  position            : absolute;
  top                 : 217px;
  left                : 129px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 60.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 71.0px;
  letter-spacing      : -0.22px;
  text-align          : center;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-for-more-prod-UuLnLE {
  position            : absolute;
  top                 : 405px;
  left                : 234px;
  width               : auto;
  height              : auto;
  color               : #7ed221;
  font                : 80.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 95.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-for-more-prod-UuLnLE {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-for-more-prod-UuLnLE {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-for-more-prod-UuLnLE:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-sounddeck-pro-BiqxHp {
  position            : absolute;
  top                 : 656px;
  left                : 277px;
  width               : auto;
  height              : auto;
  color               : #7ed221;
  font                : 80.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 95.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-sounddeck-pro-BiqxHp {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-sounddeck-pro-BiqxHp {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .browse-sounddeck-pro-BiqxHp:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-sounddeck-gs83d4 {
  position            : absolute;
  top                 : 931px;
  left                : 78px;
  width               : auto;
  height              : auto;
  color               : #498fe1;
  font                : 80.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 95.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-sounddeck-gs83d4 {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-sounddeck-gs83d4 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-sounddeck-gs83d4:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-lashell-n-lAd467 {
  position            : absolute;
  top                 : 1122px;
  left                : 128px;
  width               : auto;
  height              : auto;
  color               : #498fe1;
  font                : 80.0px "SFProDisplay-Bold", Helvetica, Arial, serif;
  line-height         : 95.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-lashell-n-lAd467 {
  opacity             : 0;
  transform           : translate(0, 25px);
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-lashell-n-lAd467 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .overlap-group-OHqfiV .go-back-to-lashell-n-lAd467:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K {
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : 1344px;
  height              : auto;
  box-sizing          : border-box;
  margin-top          : 35px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  width               : auto;
  height              : 431px;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 {
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : 529px;
  height              : auto;
  align-self          : flex-start;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .our-company-HAfJa7 {
  position            : relative;
  width               : auto;
  min-width           : 285.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .our-company-HAfJa7 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .our-company-HAfJa7:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .blog-OTVE10 {
  position            : relative;
  width               : auto;
  min-width           : 94.4966659546px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 15px;
  margin-left         : 1.0px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .blog-OTVE10 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .blog-OTVE10:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .press-releases-and-n-OVylzl {
  position            : relative;
  width               : auto;
  min-width           : 526.496643066px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 19px;
  margin-left         : 3.0px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .press-releases-and-n-OVylzl {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .press-releases-and-n-OVylzl:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .careers-08guxE {
  position            : relative;
  width               : auto;
  min-width           : 164.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 13px;
  margin-left         : 1.0px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .careers-08guxE {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .careers-08guxE:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .responsibility-SSkAJd {
  position            : relative;
  width               : auto;
  min-width           : 293.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 20px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .responsibility-SSkAJd {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .responsibility-SSkAJd:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .innovation-98M68X {
  position            : relative;
  width               : auto;
  min-width           : 217.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 14px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .innovation-98M68X {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex2-5l0HB9 .innovation-98M68X:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk {
  position            : relative;
  width               : 297px;
  height              : 407px;
  margin-left         : 145px;
  margin-bottom       : 1.0px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .certified-refurbishe-vikdlU {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .certified-refurbishe-vikdlU {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .certified-refurbishe-vikdlU:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .student-partners-BWlCVC {
  position            : absolute;
  top                 : 57px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .student-partners-BWlCVC {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .student-partners-BWlCVC:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .investors-FJQ9FK {
  position            : absolute;
  top                 : 117px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .investors-FJQ9FK {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .investors-FJQ9FK:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .developer-portal-zVTUoR {
  position            : absolute;
  top                 : 178px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .developer-portal-zVTUoR {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .developer-portal-zVTUoR:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .sign-up-for-newslett-ynyvdR {
  position            : absolute;
  top                 : 239px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .sign-up-for-newslett-ynyvdR {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .sign-up-for-newslett-ynyvdR:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .find-a-store-9NvKK9 {
  position            : absolute;
  top                 : 299px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .find-a-store-9NvKK9 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .overlap-group2-pYdTtk .find-a-store-9NvKK9:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo {
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : 260px;
  height              : auto;
  box-sizing          : border-box;
  margin-left         : 52px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .shipping-delivery-WVxbvy {
  position            : relative;
  width               : auto;
  min-width           : 260.496673584px;
  height              : auto;
  min-height          : 36px;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .shipping-delivery-WVxbvy {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .shipping-delivery-WVxbvy:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM {
  position            : relative;
  width               : 172px;
  height              : 351px;
  margin-top          : 21px;
  margin-left         : 3.0px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .about-us-tRgNm0 {
  position            : absolute;
  top                 : 60px;
  left                : 2px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .about-us-tRgNm0 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .about-us-tRgNm0:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .security-TSW0sx {
  position            : absolute;
  top                 : 121px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .security-TSW0sx {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .security-TSW0sx:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .conformity-EarBYg {
  position            : absolute;
  top                 : 180px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .conformity-EarBYg {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .conformity-EarBYg:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .order-status-uatWBy {
  position            : absolute;
  top                 : 0px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .order-status-uatWBy {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .order-status-uatWBy:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .trade-up-AigTIm {
  position            : absolute;
  top                 : 243px;
  left                : 2px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .trade-up-AigTIm {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex3-T1Q9jt .auto-flex1-rNMJBo .overlap-group3-Zhd7DM .trade-up-AigTIm:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  width               : auto;
  height              : 50px;
  align-self          : flex-end;
  box-sizing          : border-box;
  margin-top          : 16px;
  margin-right        : 1.5px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .icons8facebook50-0HYVdp {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .icons8facebook50-0HYVdp {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .icons8facebook50-0HYVdp:hover {
  transform           : scale(1.1);
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .icons8facebook50-0HYVdp .shape-gB5Dhj {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  box-sizing          : border-box;
  margin-left         : 34px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8twitter50-rUZPtY {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8twitter50-rUZPtY {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8twitter50-rUZPtY:hover {
  transform           : scale(1.1);
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8twitter50-rUZPtY .shape-uKN2R2 {
  position            : relative;
  width               : 61px;
  height              : 50px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8youtube50-cXESmO {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  margin-left         : 28px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8youtube50-cXESmO {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8youtube50-cXESmO:hover {
  transform           : scale(1.1);
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8youtube50-cXESmO .shape-mb3PA7 {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8instagram50-A4chGw {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  margin-left         : 33px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8instagram50-A4chGw {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8instagram50-A4chGw:hover {
  transform           : scale(1.1);
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .group3-BB8VeV .icons8instagram50-A4chGw .shape-ZeVSSV {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ {
  position            : relative;
  width               : 810px;
  height              : 36px;
  margin-left         : 162px;
  flex-shrink         : 0;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .lashell-noe-legal20-Wn9AWO {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 810px;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .lashell-noe-legal20-Wn9AWO {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .lashell-noe-legal20-Wn9AWO:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .privacy-statement-6ARfk5 {
  position            : absolute;
  top                 : 0px;
  left                : 382px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .privacy-statement-6ARfk5 {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .privacy-statement-6ARfk5:hover {
  text-decoration     : underline;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .site-map-z8S9cE {
  position            : absolute;
  top                 : 0px;
  left                : 693px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .site-map-z8S9cE {
  pointer-events      : auto;
}
.order-confirmation-heK4Qz .group-MyDt1K .auto-flex-WUNoh9 .overlap-group4-nRVAAQ .site-map-z8S9cE:hover {
  text-decoration     : underline;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
* {
  box-sizing          : border-box;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}