
@font-face {
                          font-family: "SFProDisplay-Thin";
                          src: url('../fonts/SF-Pro-Display-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Heavy";
                          src: url('../fonts/SF-Pro-Display-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Heavy";
                          src: url('../fonts/SF-Pro-Text-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFCompactRounded-Heavy";
                          src: url('../fonts/SF-Compact-Rounded-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Regular";
                          src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Medium";
                          src: url('../fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        
.home-search-Owiktm {
  overflow            : hidden;
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : center;
  margin              : 0px;
  padding             : 1.0px 0;
  width               : 100%;
  min-width           : 1460.0px;
  height              : auto;
  min-height          : 2400.0px;
  background-color    : #3c3b3b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
textarea:focus, input:focus {
  outline             : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter167 {
  opacity             : 0;
  transform           : translate(25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter167-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter167-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter167-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter167-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter167-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter167-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter167-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter167-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.home-search-Owiktm .overlap-group3-WcKyaB {
  position            : relative;
  width               : 1460px;
  height              : 108px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group3-WcKyaB .rectangle-vYIuSz {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 1460px;
  height              : 108px;
  background-color    : #000000;
  border              : 1.0px solid #969696;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group9-SA8tN6 {
  position            : absolute;
  top                 : 20px;
  left                : 1366px;
  width               : 69px;
  height              : 69px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group9-SA8tN6 {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group9-SA8tN6:hover {
  transform           : scale(1.1);
}
.home-search-Owiktm .overlap-group3-WcKyaB .group9-SA8tN6 .oval-YHedPx {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 69px;
  height              : 69px;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group9-SA8tN6 .oval2-H3EM40 {
  position            : absolute;
  top                 : 9px;
  left                : 9px;
  width               : 50px;
  height              : 50px;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group9-SA8tN6 .oval3-5St3EI {
  position            : absolute;
  top                 : 18px;
  left                : 23px;
  width               : 23px;
  height              : 23px;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group9-SA8tN6 .oval4-Yi5nJS {
  position            : absolute;
  top                 : 47px;
  left                : 9px;
  width               : 50px;
  height              : 18px;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group10-uI0vDh {
  position            : absolute;
  top                 : 18px;
  left                : 1238px;
  width               : 86px;
  height              : 77px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group10-uI0vDh {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group10-uI0vDh:hover {
  transform           : scale(1.1);
}
.home-search-Owiktm .overlap-group3-WcKyaB .group10-uI0vDh .shoppingcartpngrepocom-EiQgYF {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 77px;
  height              : 77px;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group10-uI0vDh .glyphs-notification-icon-AfGgbq {
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  top                 : 9px;
  left                : 66px;
  width               : auto;
  height              : 20px;
  box-sizing          : border-box;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group10-uI0vDh .glyphs-notification-icon-AfGgbq .app-icon-QLAl0w {
  position            : relative;
  width               : 20px;
  height              : 20px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group3-WcKyaB .group10-uI0vDh .a1-xAvJjm {
  position            : absolute;
  top                 : 9px;
  left                : 72px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 16.0px "SFCompactRounded-Heavy", Helvetica, Arial, serif;
  line-height         : 19.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group3-WcKyaB .screen-shot20200320-at12554-am1-jS1bk5 {
  position            : absolute;
  top                 : 21px;
  left                : 6px;
  width               : 430px;
  height              : 70px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group3-WcKyaB .screen-shot20200320-at12554-am1-jS1bk5 {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group3-WcKyaB .screen-shot20200320-at12554-am1-jS1bk5:hover {
  box-shadow          : 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.home-search-Owiktm .overlap-group3-WcKyaB .rectangle16-xHDf9L {
  position            : absolute;
  top                 : 8px;
  left                : 464px;
  width               : 740px;
  height              : 89px;
  background-color    : #ffffff;
  border              : 1.0px solid #969696;
  border-radius       : 44.5px;
}
.home-search-Owiktm .overlap-group3-WcKyaB .rectangle16-xHDf9L {
  opacity             : 0;
  transform           : translate(25px, 0);
}
.home-search-Owiktm .overlap-group3-WcKyaB .text-speakers-accesories-and-more-rrwTQm {
  position            : absolute;
  top                 : 29px;
  left                : 521px;
  padding             : 0;
  width               : 462px;
  height              : 43px;
  color               : #000000;
  background-color    : rgba(255, 255, 255, 0);
  border              : 0;
  font                : 36.0px "SFProDisplay-Thin", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -0.13px;
  text-align          : left;
  resize              : none;
}
.home-search-Owiktm .overlap-group3-WcKyaB .text-speakers-accesories-and-more-rrwTQm::placeholder {
  color               : rgba(0, 0, 0, 0.6);
}
.home-search-Owiktm .overlap-group3-WcKyaB .a18140481531530273515128-CjLnUN {
  position            : absolute;
  top                 : 21px;
  left                : 1121px;
  width               : 60px;
  height              : 60px;
}
.home-search-Owiktm .overlap-group3-WcKyaB .glyphs-search-1nXFtp {
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  top                 : 15px;
  left                : 1015px;
  width               : auto;
  height              : 74px;
  box-sizing          : border-box;
}
.home-search-Owiktm .overlap-group3-WcKyaB .glyphs-search-1nXFtp .search-AsoV2G {
  position            : relative;
  width               : 74px;
  height              : 74px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN {
  position            : relative;
  width               : 1560px;
  height              : 999px;
  margin-top          : 24px;
  align-self          : flex-start;
  margin-left         : -117.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN .screen-shot20200320-at12554-am-KS4tl0 {
  position            : absolute;
  top                 : 737px;
  left                : 346px;
  width               : 343px;
  height              : 56px;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If {
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-end;
  align-items         : center;
  top                 : 307px;
  left                : 1110px;
  padding             : 10.0px 14.0px;
  width               : auto;
  min-width           : 375px;
  height              : 44px;
  box-sizing          : border-box;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .time-style-XdkQob {
  overflow            : hidden;
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  padding             : 2.0px 0.1px;
  width               : 54px;
  height              : 21px;
  box-sizing          : border-box;
  align-self          : flex-end;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .time-style-XdkQob .label1-TThB8b {
  position            : relative;
  width               : 54px;
  height              : auto;
  min-height          : 16px;
  color               : #000000;
  font                : 14.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 16.0px;
  letter-spacing      : -0.28px;
  text-align          : center;
  flex-shrink         : 0;
}
.home-search-Owiktm .iphone-x-status-bars-status-bar-black-L7E2If .time-style-XdkQob .label1-TThB8b .span1-iFyFxA {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-search-Owiktm .iphone-x-status-bars-status-bar-black-L7E2If .time-style-XdkQob .label1-TThB8b .span2-1B5NcT {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .cellular-connection-SmO2WJ {
  position            : relative;
  width               : 17px;
  height              : 11px;
  margin-top          : 3.0px;
  margin-left         : 219px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .wifi-ikOZPD {
  position            : relative;
  width               : 15px;
  height              : 11px;
  margin-top          : 1.0px;
  margin-left         : 5px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .battery-kCuHzE {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : center;
  width               : auto;
  min-width           : 25px;
  height              : 12px;
  box-sizing          : border-box;
  margin-top          : 2.0px;
  margin-left         : 5px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .battery-kCuHzE .overlap-group-M1Lao2 {
  position            : relative;
  width               : 22px;
  height              : 12px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .battery-kCuHzE .overlap-group-M1Lao2 .border-RVoCvj {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 22px;
  height              : 12px;
  opacity             : 0.35;
  border              : 1.0px solid #000000;
  border-radius       : 2.7px;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .battery-kCuHzE .overlap-group-M1Lao2 .capacity-PZjviR {
  position            : absolute;
  top                 : 2px;
  left                : 2px;
  width               : 18px;
  height              : 7px;
  background-color    : #000000;
  border-radius       : 1.3px;
}
.home-search-Owiktm .overlap-group2-XuoxRN .iphone-x-status-bars-status-bar-black-L7E2If .battery-kCuHzE .cap-pE5QBW {
  position            : relative;
  width               : 1px;
  height              : 4px;
  opacity             : 0.4;
  margin-left         : 1px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 1560px;
  height              : 999px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4:hover {
  transform           : scale(1.01);
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .homepodspgryproductlifestyleprint1-OQKRIG {
  position            : absolute;
  top                 : 0px;
  left                : 136px;
  width               : 1424px;
  height              : 999px;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .sound-redefined-ntTr5r {
  position            : absolute;
  top                 : 672px;
  left                : 0px;
  width               : 783px;
  height              : auto;
  color               : #ffffff;
  font                : 100.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 119.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .sounddeck-pro-m9lBKy {
  position            : absolute;
  top                 : 8px;
  left                : 799px;
  width               : 753px;
  height              : auto;
  color               : #000000;
  font                : 100.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 119.0px;
  letter-spacing      : -0.37px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .sounddeck-pro-m9lBKy {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .sounddeck-pro-m9lBKy:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .now-available-worldw-Iu6erp {
  position            : absolute;
  top                 : 116px;
  left                : 1136px;
  width               : 401px;
  height              : auto;
  color               : #4a494a;
  font                : 60.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 71.0px;
  letter-spacing      : -0.22px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .group-Dd0IOF {
  position            : absolute;
  top                 : 842px;
  left                : 1084px;
  width               : 448px;
  height              : 120px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .group-Dd0IOF {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .group-Dd0IOF:hover {
  transform           : translate(5px, 0);
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .group-Dd0IOF .rectangle3-1A9uHf {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 448px;
  height              : 120px;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .group-Dd0IOF .buy-now-WjgdQ3 {
  position            : absolute;
  top                 : 16px;
  left                : 1px;
  width               : 370px;
  height              : auto;
  color               : #ffffff;
  font                : 60.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 71.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group2-XuoxRN .group2-VGyvM4 .group-Dd0IOF .view11-DYKKx8 {
  overflow            : hidden;
  position            : absolute;
  top                 : 43px;
  left                : 314px;
  width               : 70px;
  height              : 36px;
}
.home-search-Owiktm .overlap-group4-xdKqst {
  position            : relative;
  width               : 1422px;
  height              : 360px;
  margin-top          : 21px;
  margin-left         : 8.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .overlap-group4-xdKqst .group6-1MfDWV {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 539px;
  height              : 358px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group4-xdKqst .group6-1MfDWV {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group4-xdKqst .group6-1MfDWV:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-search-Owiktm .overlap-group4-xdKqst .group6-1MfDWV .sonos-move156601363800jpg0-ZlljQH {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 485px;
  height              : 358px;
}
.home-search-Owiktm .overlap-group4-xdKqst .group6-1MfDWV .soundplay-move-4gTVn0 {
  position            : absolute;
  top                 : 292px;
  left                : 12px;
  width               : 403px;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group4-xdKqst .group6-1MfDWV .fun-on-the-move-CbhWgw {
  position            : absolute;
  top                 : 0px;
  left                : 111px;
  width               : 428px;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : left;
}
.home-search-Owiktm .group6-1MfDWV .fun-on-the-move-CbhWgw .span1-t7moa1 {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-search-Owiktm .group6-1MfDWV .fun-on-the-move-CbhWgw .span2-IXtVcr {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-search-Owiktm .overlap-group4-xdKqst .group7-YIhaBZ {
  position            : absolute;
  top                 : 1px;
  left                : 504px;
  width               : 583px;
  height              : 358px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group4-xdKqst .group7-YIhaBZ {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group4-xdKqst .group7-YIhaBZ:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-search-Owiktm .overlap-group4-xdKqst .group7-YIhaBZ .sonos-air-play201-SWuXjZ {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 470px;
  height              : 358px;
}
.home-search-Owiktm .overlap-group4-xdKqst .group7-YIhaBZ .home-for-your-music-V3Gc5q {
  position            : absolute;
  top                 : 227px;
  left                : 59px;
  width               : 524px;
  height              : auto;
  color               : #000000;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group4-xdKqst .group7-YIhaBZ .soundhome-max-XO8IBq {
  position            : absolute;
  top                 : 8px;
  left                : 15px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group4-xdKqst .group8-BH2cc7 {
  position            : absolute;
  top                 : 2px;
  left                : 993px;
  width               : 429px;
  height              : 358px;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .overlap-group4-xdKqst .group8-BH2cc7 {
  pointer-events      : auto;
}
.home-search-Owiktm .overlap-group4-xdKqst .group8-BH2cc7:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-search-Owiktm .overlap-group4-xdKqst .group8-BH2cc7 .xiaomimisoundbarindia-QpQLvS {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 419px;
  height              : 358px;
}
.home-search-Owiktm .overlap-group4-xdKqst .group8-BH2cc7 .sound-bar-R1uUNv {
  position            : absolute;
  top                 : 290px;
  left                : 6px;
  width               : 299px;
  height              : auto;
  color               : #f6efef;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group4-xdKqst .group8-BH2cc7 .audio-mastered-jsbNqh {
  position            : absolute;
  top                 : 2px;
  left                : -1px;
  width               : 431px;
  height              : auto;
  color               : #f6efef;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-search-Owiktm .overlap-group4-xdKqst .view1-MtrTx9 {
  overflow            : hidden;
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  top                 : 299px;
  left                : 1280px;
  padding             : 6.0px;
  width               : 52px;
  height              : 49px;
  box-sizing          : border-box;
}
.home-search-Owiktm .overlap-group4-xdKqst .view1-MtrTx9 .label1-fJoutH {
  position            : relative;
  width               : auto;
  min-width           : 38.8886260986px;
  height              : auto;
  min-height          : 36px;
  color               : #f6efef;
  font                : 30.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -0.11px;
  text-align          : center;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex1-FNSHu9 {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 266px;
  box-sizing          : border-box;
  margin-top          : 33px;
  margin-left         : 11.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW {
  position            : relative;
  width               : 945px;
  height              : 266px;
  background-color    : #000000;
  border              : 6.0px solid #ffffff;
  transition          : all 0.2s ease-in-out;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW .screen-shot20200323-at7-removebg-preview1-7FlWIw {
  position            : absolute;
  top                 : 0px;
  left                : 7px;
  width               : 411px;
  height              : 266px;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW .all-new-lashell-noe-FFAmL4 {
  position            : absolute;
  top                 : 34px;
  left                : 347px;
  width               : 540px;
  height              : auto;
  color               : #f6efef;
  font                : 40.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW .available-for-downlo-75k34q {
  position            : absolute;
  top                 : 85px;
  left                : 306px;
  width               : 566px;
  height              : auto;
  color               : #f6efef;
  font                : 40.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW .kisspnggoogleplayandroidappstoregoogleplay5ac7a0bf108fc6removebgpreview-XxBVxH {
  position            : absolute;
  top                 : 154px;
  left                : 333px;
  width               : 263px;
  height              : 81px;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group4-vViPgW .iu-p0QQzW {
  position            : absolute;
  top                 : 153px;
  left                : 618px;
  width               : 254px;
  height              : 82px;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group5-lY7p0V {
  position            : relative;
  width               : 433px;
  height              : 266px;
  transition          : all 0.2s ease-in-out;
  margin-left         : 21px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group5-lY7p0V {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group5-lY7p0V:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group5-lY7p0V .screen-shot20200324-at20721-am-eWC4Vc {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 433px;
  height              : 266px;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group5-lY7p0V .partner-program-Sy8uH1 {
  position            : absolute;
  top                 : 49px;
  left                : 35px;
  width               : 359px;
  height              : auto;
  color               : #4d4141;
  font                : 36.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -1.23px;
  text-align          : left;
  transform           : rotate(-9deg);
}
.home-search-Owiktm .group5-lY7p0V .partner-program-Sy8uH1 .span1-wxCLPY {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-search-Owiktm .group5-lY7p0V .partner-program-Sy8uH1 .span2-IUf0Zz {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-search-Owiktm .group5-lY7p0V .partner-program-Sy8uH1 .span3-qjEqUt {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group5-lY7p0V .label1-tfT0Ho {
  position            : absolute;
  top                 : 110px;
  left                : 75px;
  width               : auto;
  height              : auto;
  color               : #4d4141;
  font                : 36.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -1.23px;
  text-align          : left;
  transform           : rotate(-9deg);
}
.home-search-Owiktm .auto-flex1-FNSHu9 .group5-lY7p0V .label2-30V1oZ {
  position            : absolute;
  top                 : 18px;
  left                : 379px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 36.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -1.23px;
  text-align          : left;
}
.home-search-Owiktm .auto-flex4-thAvRi {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  width               : auto;
  height              : 431px;
  box-sizing          : border-box;
  margin-top          : 39px;
  margin-right        : 84.5px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX {
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : 529px;
  height              : auto;
  align-self          : flex-start;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .our-company-C4kdO5 {
  position            : relative;
  width               : auto;
  min-width           : 285.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .our-company-C4kdO5 {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .our-company-C4kdO5:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .blog-A2iXnB {
  position            : relative;
  width               : auto;
  min-width           : 94.4966659546px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 15px;
  margin-left         : 1.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .blog-A2iXnB {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .blog-A2iXnB:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .press-releases-and-n-8LNmfP {
  position            : relative;
  width               : auto;
  min-width           : 526.496643066px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 19px;
  margin-left         : 3.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .press-releases-and-n-8LNmfP {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .press-releases-and-n-8LNmfP:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .careers-z5BUOI {
  position            : relative;
  width               : auto;
  min-width           : 164.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 13px;
  margin-left         : 1.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .careers-z5BUOI {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .careers-z5BUOI:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .responsibility-CXnU3h {
  position            : relative;
  width               : auto;
  min-width           : 293.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 20px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .responsibility-CXnU3h {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .responsibility-CXnU3h:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .innovation-jFF36Q {
  position            : relative;
  width               : auto;
  min-width           : 217.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 14px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .innovation-jFF36Q {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex3-PjwSpX .innovation-jFF36Q:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq {
  position            : relative;
  width               : 297px;
  height              : 407px;
  margin-left         : 145px;
  margin-bottom       : 1.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .certified-refurbishe-71zsfG {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .certified-refurbishe-71zsfG {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .certified-refurbishe-71zsfG:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .student-partners-fobjcb {
  position            : absolute;
  top                 : 57px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .student-partners-fobjcb {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .student-partners-fobjcb:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .investors-br0A4V {
  position            : absolute;
  top                 : 117px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .investors-br0A4V {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .investors-br0A4V:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .developer-portal-VxiRVa {
  position            : absolute;
  top                 : 178px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .developer-portal-VxiRVa {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .developer-portal-VxiRVa:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .sign-up-for-newslett-pcMkaY {
  position            : absolute;
  top                 : 239px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .sign-up-for-newslett-pcMkaY {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .sign-up-for-newslett-pcMkaY:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .find-a-store-LQWjph {
  position            : absolute;
  top                 : 299px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .find-a-store-LQWjph {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .overlap-group-Qdkeuq .find-a-store-LQWjph:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi {
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : 260px;
  height              : auto;
  box-sizing          : border-box;
  margin-left         : 52px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .shipping-delivery-nMx0n0 {
  position            : relative;
  width               : auto;
  min-width           : 260.496673584px;
  height              : auto;
  min-height          : 36px;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .shipping-delivery-nMx0n0 {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .shipping-delivery-nMx0n0:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O {
  position            : relative;
  width               : 172px;
  height              : 351px;
  margin-top          : 21px;
  margin-left         : 3.0px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .about-us-JBRJPR {
  position            : absolute;
  top                 : 60px;
  left                : 2px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .about-us-JBRJPR {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .about-us-JBRJPR:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .security-bVxNjX {
  position            : absolute;
  top                 : 121px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .security-bVxNjX {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .security-bVxNjX:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .conformity-1ZTwma {
  position            : absolute;
  top                 : 180px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .conformity-1ZTwma {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .conformity-1ZTwma:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .order-status-v3D3PP {
  position            : absolute;
  top                 : 0px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .order-status-v3D3PP {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .order-status-v3D3PP:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .trade-up-sX4Igb {
  position            : absolute;
  top                 : 243px;
  left                : 2px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .trade-up-sX4Igb {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex4-thAvRi .auto-flex2-T7ZdKi .overlap-group1-sVb48O .trade-up-sX4Igb:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex-brICvH {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  width               : auto;
  height              : 50px;
  box-sizing          : border-box;
  margin-top          : 16px;
  margin-left         : 36.5px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .icons8facebook50-127xcI {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .icons8facebook50-127xcI {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex-brICvH .icons8facebook50-127xcI:hover {
  transform           : scale(1.1);
}
.home-search-Owiktm .auto-flex-brICvH .icons8facebook50-127xcI .shape-rKjQjB {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  box-sizing          : border-box;
  margin-left         : 34px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8twitter50-2uXOJt {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8twitter50-2uXOJt {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8twitter50-2uXOJt:hover {
  transform           : scale(1.1);
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8twitter50-2uXOJt .shape-Nic4GW {
  position            : relative;
  width               : 61px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8youtube50-eN95cZ {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  margin-left         : 28px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8youtube50-eN95cZ {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8youtube50-eN95cZ:hover {
  transform           : scale(1.1);
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8youtube50-eN95cZ .shape-D1z2iO {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8instagram50-lbYPd5 {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  margin-left         : 33px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8instagram50-lbYPd5 {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8instagram50-lbYPd5:hover {
  transform           : scale(1.1);
}
.home-search-Owiktm .auto-flex-brICvH .group3-5zF6bv .icons8instagram50-lbYPd5 .shape-EI3Sao {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e {
  position            : relative;
  width               : 810px;
  height              : 36px;
  margin-left         : 162px;
  flex-shrink         : 0;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .lashell-noe-legal20-XZdCCW {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 810px;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .lashell-noe-legal20-XZdCCW {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .lashell-noe-legal20-XZdCCW:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .privacy-statement-jajT8w {
  position            : absolute;
  top                 : 0px;
  left                : 382px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .privacy-statement-jajT8w {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .privacy-statement-jajT8w:hover {
  text-decoration     : underline;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .site-map-Ba8aOJ {
  position            : absolute;
  top                 : 0px;
  left                : 693px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .site-map-Ba8aOJ {
  pointer-events      : auto;
}
.home-search-Owiktm .auto-flex-brICvH .overlap-group5-enO78e .site-map-Ba8aOJ:hover {
  text-decoration     : underline;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}