
@font-face {
                          font-family: "SFProDisplay-Thin";
                          src: url('../fonts/SF-Pro-Display-Thin.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Heavy";
                          src: url('../fonts/SF-Pro-Display-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Light";
                          src: url('../fonts/SF-Pro-Text-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Heavy";
                          src: url('../fonts/SF-Pro-Text-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFCompactRounded-Heavy";
                          src: url('../fonts/SF-Compact-Rounded-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Bold";
                          src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Semibold";
                          src: url('../fonts/SF-Pro-Display-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Medium";
                          src: url('../fonts/SF-Pro-Display-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProDisplay-Regular";
                          src: url('../fonts/SF-Pro-Display-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Medium";
                          src: url('../fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        
.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.home-BUpDIM {
  overflow            : hidden;
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : center;
  margin              : 0px;
  padding             : 1.0px 0;
  width               : 100%;
  min-width           : 1460.0px;
  height              : auto;
  min-height          : 2400.0px;
  background-color    : #3c3b3b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
textarea:focus, input:focus {
  outline             : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter3 {
  opacity             : 0;
  transform           : translate(-25px, 0);
  display             : block;
  -webkit-animation   : anima-animate-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(-25px, 0);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.anima-animate-enter4 {
  opacity             : 0;
  transform           : translate(0, 25px);
  display             : block;
  -webkit-animation   : anima-animate-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-moz-keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@-o-keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
@keyframes anima-animate-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: translate(0, 25px);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: translate(0,0);
    }
}
.home-BUpDIM .overlap-group3-vYM231 {
  position            : relative;
  width               : 1460px;
  height              : 108px;
  flex-shrink         : 0;
}
.home-BUpDIM .overlap-group3-vYM231 .rectangle-xGNS4h {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 1460px;
  height              : 108px;
  background-color    : #000000;
  border              : 1.0px solid #969696;
}
.home-BUpDIM .overlap-group3-vYM231 .screen-shot20200320-at12554-am1-U2d7wW {
  position            : absolute;
  top                 : 21px;
  left                : 6px;
  width               : 430px;
  height              : 70px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group3-vYM231 .screen-shot20200320-at12554-am1-U2d7wW {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group3-vYM231 .screen-shot20200320-at12554-am1-U2d7wW:hover {
  box-shadow          : 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.home-BUpDIM .overlap-group3-vYM231 .s-peakers-yz6NaK {
  position            : absolute;
  top                 : 35px;
  left                : 483px;
  width               : 224px;
  height              : auto;
  color               : #ffffff;
  font                : 40.0px "SFProText-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group3-vYM231 .s-peakers-yz6NaK {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group3-vYM231 .s-peakers-yz6NaK:hover {
  transform           : translate(0, -5px);
  text-decoration     : underline;
}
.home-BUpDIM .s-peakers-yz6NaK .span1-YUClN0 {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .s-peakers-yz6NaK .span2-xdrRW8 {
  background-color    : rgba(65025, 65025, 65025, 0);
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 0.0px;
  letter-spacing      : -0.16px;
}
.home-BUpDIM .overlap-group3-vYM231 .s-hop-MR5Duy {
  position            : absolute;
  top                 : 36px;
  left                : 741px;
  width               : 138px;
  height              : auto;
  color               : #ffffff;
  font                : 40.0px "SFProText-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group3-vYM231 .s-hop-MR5Duy {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group3-vYM231 .s-hop-MR5Duy:hover {
  transform           : translate(0, -5px);
  text-decoration     : underline;
}
.home-BUpDIM .s-hop-MR5Duy .span1-GYPt13 {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .s-hop-MR5Duy .span2-gdVRpq {
  background-color    : rgba(65025, 65025, 65025, 0);
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .overlap-group3-vYM231 .a-bout-CphYFp {
  position            : absolute;
  top                 : 36px;
  left                : 903px;
  width               : 182px;
  height              : auto;
  color               : #ffffff;
  font                : 40.0px "SFProText-Heavy", Helvetica, Arial, serif;
  line-height         : 25.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group3-vYM231 .a-bout-CphYFp {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group3-vYM231 .a-bout-CphYFp:hover {
  transform           : translate(0, -5px);
  text-decoration     : underline;
}
.home-BUpDIM .a-bout-CphYFp .span1-QPAuI2 {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 48.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .a-bout-CphYFp .span2-XzHcSs {
  background-color    : rgba(65025, 65025, 65025, 0);
  font-size           : 25.0px;
  font-family         : "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 30.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .overlap-group3-vYM231 .group9-xUIQTC {
  position            : absolute;
  top                 : 20px;
  left                : 1366px;
  width               : 69px;
  height              : 69px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group3-vYM231 .group9-xUIQTC {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group3-vYM231 .group9-xUIQTC:hover {
  transform           : scale(1.1);
}
.home-BUpDIM .overlap-group3-vYM231 .group9-xUIQTC .oval-bvgyNi {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 69px;
  height              : 69px;
}
.home-BUpDIM .overlap-group3-vYM231 .group9-xUIQTC .oval2-HF0BvU {
  position            : absolute;
  top                 : 9px;
  left                : 9px;
  width               : 50px;
  height              : 50px;
}
.home-BUpDIM .overlap-group3-vYM231 .group9-xUIQTC .oval3-8d77w3 {
  position            : absolute;
  top                 : 18px;
  left                : 23px;
  width               : 23px;
  height              : 23px;
}
.home-BUpDIM .overlap-group3-vYM231 .group9-xUIQTC .oval4-yBO2vl {
  position            : absolute;
  top                 : 47px;
  left                : 9px;
  width               : 50px;
  height              : 18px;
}
.home-BUpDIM .overlap-group3-vYM231 .glyphs-search-C2JNfH {
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  top                 : 19px;
  left                : 1122px;
  width               : auto;
  height              : 74px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
}
.home-BUpDIM .overlap-group3-vYM231 .glyphs-search-C2JNfH {
  opacity             : 0;
  transform           : translate(-25px, 0);
}
.home-BUpDIM .overlap-group3-vYM231 .glyphs-search-C2JNfH {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group3-vYM231 .glyphs-search-C2JNfH:hover {
  transform           : scale(1.1);
}
.home-BUpDIM .overlap-group3-vYM231 .glyphs-search-C2JNfH .search-FoStkS {
  position            : relative;
  width               : 74px;
  height              : 74px;
  flex-shrink         : 0;
}
.home-BUpDIM .overlap-group3-vYM231 .group10-8sdetj {
  position            : absolute;
  top                 : 18px;
  left                : 1238px;
  width               : 86px;
  height              : 77px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group3-vYM231 .group10-8sdetj {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group3-vYM231 .group10-8sdetj:hover {
  transform           : scale(1.1);
}
.home-BUpDIM .overlap-group3-vYM231 .group10-8sdetj .shoppingcartpngrepocom-88iXeY {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 77px;
  height              : 77px;
}
.home-BUpDIM .overlap-group3-vYM231 .group10-8sdetj .glyphs-notification-icon-8BKZtG {
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  top                 : 9px;
  left                : 66px;
  width               : auto;
  height              : 20px;
  box-sizing          : border-box;
}
.home-BUpDIM .overlap-group3-vYM231 .group10-8sdetj .glyphs-notification-icon-8BKZtG .app-icon-53i2Vh {
  position            : relative;
  width               : 20px;
  height              : 20px;
  flex-shrink         : 0;
}
.home-BUpDIM .overlap-group3-vYM231 .group10-8sdetj .a1-JHQBU1 {
  position            : absolute;
  top                 : 9px;
  left                : 72px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 16.0px "SFCompactRounded-Heavy", Helvetica, Arial, serif;
  line-height         : 19.0px;
  letter-spacing      : -0.24px;
  text-align          : center;
}
.home-BUpDIM .overlap-group2-5ggS0l {
  position            : relative;
  width               : 1560px;
  height              : 999px;
  margin-top          : 24px;
  align-self          : flex-start;
  margin-left         : -117.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .overlap-group2-5ggS0l .screen-shot20200320-at12554-am-y2m16Y {
  position            : absolute;
  top                 : 737px;
  left                : 346px;
  width               : 343px;
  height              : 56px;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 1560px;
  height              : 999px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU:hover {
  transform           : scale(1.01);
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .homepodspgryproductlifestyleprint1-MLlOjp {
  position            : absolute;
  top                 : 0px;
  left                : 136px;
  width               : 1424px;
  height              : 999px;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .sound-redefined-GKHfZA {
  position            : absolute;
  top                 : 672px;
  left                : 0px;
  width               : 783px;
  height              : auto;
  color               : #ffffff;
  font                : 100.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 119.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .sounddeck-pro-s8Tlby {
  position            : absolute;
  top                 : 8px;
  left                : 799px;
  width               : 753px;
  height              : auto;
  color               : #000000;
  font                : 100.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 119.0px;
  letter-spacing      : -0.37px;
  text-align          : center;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .sounddeck-pro-s8Tlby {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .sounddeck-pro-s8Tlby:hover {
  text-decoration     : underline;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .now-available-worldw-meDIOB {
  position            : absolute;
  top                 : 116px;
  left                : 1136px;
  width               : 401px;
  height              : auto;
  color               : #4a494a;
  font                : 60.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 71.0px;
  letter-spacing      : -0.22px;
  text-align          : center;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .group-b6d01P {
  position            : absolute;
  top                 : 842px;
  left                : 1084px;
  width               : 448px;
  height              : 120px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .group-b6d01P {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .group-b6d01P:hover {
  transform           : translate(5px, 0);
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .group-b6d01P .rectangle3-AigROX {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 448px;
  height              : 120px;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .group-b6d01P .buy-now-8Z32J0 {
  position            : absolute;
  top                 : 16px;
  left                : 1px;
  width               : 370px;
  height              : auto;
  color               : #ffffff;
  font                : 60.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 71.0px;
  letter-spacing      : -0.3px;
  text-align          : center;
}
.home-BUpDIM .overlap-group2-5ggS0l .group2-SD8evU .group-b6d01P .view11-BzfpAS {
  overflow            : hidden;
  position            : absolute;
  top                 : 43px;
  left                : 314px;
  width               : 70px;
  height              : 36px;
}
.home-BUpDIM .overlap-group4-hB3Md6 {
  position            : relative;
  width               : 1422px;
  height              : 360px;
  margin-top          : 21px;
  margin-left         : 8.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group6-TojxF6 {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 539px;
  height              : 358px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group6-TojxF6 {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group6-TojxF6:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-BUpDIM .overlap-group4-hB3Md6 .group6-TojxF6 .sonos-move156601363800jpg0-68V6EN {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 485px;
  height              : 358px;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group6-TojxF6 .soundplay-move-IJMirN {
  position            : absolute;
  top                 : 292px;
  left                : 12px;
  width               : 403px;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group6-TojxF6 .fun-on-the-move-dOFvkp {
  position            : absolute;
  top                 : 0px;
  left                : 111px;
  width               : 428px;
  height              : auto;
  color               : #ffffff;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : left;
}
.home-BUpDIM .group6-TojxF6 .fun-on-the-move-dOFvkp .span1-o1k6n7 {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .group6-TojxF6 .fun-on-the-move-dOFvkp .span2-N6j6Zk {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group7-vCUAlf {
  position            : absolute;
  top                 : 1px;
  left                : 504px;
  width               : 583px;
  height              : 358px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group7-vCUAlf {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group7-vCUAlf:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-BUpDIM .overlap-group4-hB3Md6 .group7-vCUAlf .sonos-air-play201-ETdtjb {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 470px;
  height              : 358px;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group7-vCUAlf .home-for-your-music-IEfDFW {
  position            : absolute;
  top                 : 227px;
  left                : 59px;
  width               : 524px;
  height              : auto;
  color               : #000000;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group7-vCUAlf .soundhome-max-6tFiiW {
  position            : absolute;
  top                 : 8px;
  left                : 15px;
  width               : auto;
  height              : auto;
  color               : #000000;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group8-55V7fv {
  position            : absolute;
  top                 : 2px;
  left                : 993px;
  width               : 429px;
  height              : 358px;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group8-55V7fv {
  pointer-events      : auto;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group8-55V7fv:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-BUpDIM .overlap-group4-hB3Md6 .group8-55V7fv .xiaomimisoundbarindia-vCqslN {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 419px;
  height              : 358px;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group8-55V7fv .sound-bar-d4nuqc {
  position            : absolute;
  top                 : 290px;
  left                : 6px;
  width               : 299px;
  height              : auto;
  color               : #f6efef;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-BUpDIM .overlap-group4-hB3Md6 .group8-55V7fv .audio-mastered-E6Fl7Y {
  position            : absolute;
  top                 : 2px;
  left                : -1px;
  width               : 431px;
  height              : auto;
  color               : #f6efef;
  font                : 48.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 58.0px;
  letter-spacing      : -0.18px;
  text-align          : center;
}
.home-BUpDIM .overlap-group4-hB3Md6 .view1-sc7okX {
  overflow            : hidden;
  position            : absolute;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  top                 : 299px;
  left                : 1280px;
  padding             : 6.0px;
  width               : 52px;
  height              : 49px;
  box-sizing          : border-box;
}
.home-BUpDIM .overlap-group4-hB3Md6 .view1-sc7okX .label1-9oQSkE {
  position            : relative;
  width               : auto;
  min-width           : 38.8886260986px;
  height              : auto;
  min-height          : 36px;
  color               : #f6efef;
  font                : 30.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -0.11px;
  text-align          : center;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex1-DYwtm3 {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 266px;
  box-sizing          : border-box;
  margin-top          : 33px;
  margin-left         : 11.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD {
  position            : relative;
  width               : 945px;
  height              : 266px;
  background-color    : #000000;
  border              : 6.0px solid #ffffff;
  transition          : all 0.2s ease-in-out;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD .screen-shot20200323-at7-removebg-preview1-ySOuE4 {
  position            : absolute;
  top                 : 0px;
  left                : 7px;
  width               : 411px;
  height              : 266px;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD .all-new-lashell-noe-Zhzv45 {
  position            : absolute;
  top                 : 34px;
  left                : 347px;
  width               : 540px;
  height              : auto;
  color               : #f6efef;
  font                : 40.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD .available-for-downlo-lroZUi {
  position            : absolute;
  top                 : 85px;
  left                : 306px;
  width               : 566px;
  height              : auto;
  color               : #f6efef;
  font                : 40.0px "SFProDisplay-Heavy", Helvetica, Arial, serif;
  line-height         : 48.0px;
  letter-spacing      : -0.15px;
  text-align          : center;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD .kisspnggoogleplayandroidappstoregoogleplay5ac7a0bf108fc6removebgpreview-TtXiMx {
  position            : absolute;
  top                 : 154px;
  left                : 333px;
  width               : 263px;
  height              : 81px;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group4-q7GqlD .iu-ggWpg9 {
  position            : absolute;
  top                 : 153px;
  left                : 618px;
  width               : 254px;
  height              : 82px;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group5-mOqg5f {
  position            : relative;
  width               : 433px;
  height              : 266px;
  transition          : all 0.2s ease-in-out;
  margin-left         : 21px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group5-mOqg5f {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group5-mOqg5f:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home-BUpDIM .auto-flex1-DYwtm3 .group5-mOqg5f .screen-shot20200324-at20721-am-BoLixT {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 433px;
  height              : 266px;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group5-mOqg5f .partner-program-A1qCvc {
  position            : absolute;
  top                 : 49px;
  left                : 35px;
  width               : 359px;
  height              : auto;
  color               : #4d4141;
  font                : 36.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -1.23px;
  text-align          : left;
  transform           : rotate(-9deg);
}
.home-BUpDIM .group5-mOqg5f .partner-program-A1qCvc .span1-MEesq0 {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .group5-mOqg5f .partner-program-A1qCvc .span2-ECqpav {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .group5-mOqg5f .partner-program-A1qCvc .span3-y7ptSY {
  background-color    : rgba(65025, 65025, 65025, 0);
  line-height         : 0.0px;
  letter-spacing      : 0.0px;
}
.home-BUpDIM .auto-flex1-DYwtm3 .group5-mOqg5f .label1-8vvBcN {
  position            : absolute;
  top                 : 110px;
  left                : 75px;
  width               : auto;
  height              : auto;
  color               : #4d4141;
  font                : 36.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -1.23px;
  text-align          : left;
  transform           : rotate(-9deg);
}
.home-BUpDIM .auto-flex1-DYwtm3 .group5-mOqg5f .label2-GjfDdk {
  position            : absolute;
  top                 : 18px;
  left                : 379px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 36.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 43.0px;
  letter-spacing      : -1.23px;
  text-align          : left;
}
.home-BUpDIM .auto-flex4-WwuHJM {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  width               : auto;
  height              : 431px;
  box-sizing          : border-box;
  margin-top          : 39px;
  margin-right        : 84.5px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M {
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : 529px;
  height              : auto;
  align-self          : flex-start;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .our-company-yjuslR {
  position            : relative;
  width               : auto;
  min-width           : 285.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .our-company-yjuslR {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .our-company-yjuslR:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .blog-ORxeZ5 {
  position            : relative;
  width               : auto;
  min-width           : 94.4966659546px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 15px;
  margin-left         : 1.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .blog-ORxeZ5 {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .blog-ORxeZ5:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .press-releases-and-n-vVBuIX {
  position            : relative;
  width               : auto;
  min-width           : 526.496643066px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 19px;
  margin-left         : 3.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .press-releases-and-n-vVBuIX {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .press-releases-and-n-vVBuIX:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .careers-Th6Yqs {
  position            : relative;
  width               : auto;
  min-width           : 164.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 13px;
  margin-left         : 1.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .careers-Th6Yqs {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .careers-Th6Yqs:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .responsibility-jcIlea {
  position            : relative;
  width               : auto;
  min-width           : 293.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 20px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .responsibility-jcIlea {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .responsibility-jcIlea:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .innovation-6qpPYS {
  position            : relative;
  width               : auto;
  min-width           : 217.496673584px;
  height              : auto;
  min-height          : 53px;
  color               : #ffffff;
  font                : 44.0px "SFProText-Bold", Helvetica, Arial, serif;
  line-height         : 53.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  margin-top          : 14px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .innovation-6qpPYS {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex3-n3iD2M .innovation-6qpPYS:hover {
  transform           : scale(1.1);
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb {
  position            : relative;
  width               : 297px;
  height              : 407px;
  margin-left         : 145px;
  margin-bottom       : 1.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .certified-refurbishe-O1L6Ie {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .certified-refurbishe-O1L6Ie {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .certified-refurbishe-O1L6Ie:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .student-partners-0kgmhA {
  position            : absolute;
  top                 : 57px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .student-partners-0kgmhA {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .student-partners-0kgmhA:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .investors-XG6dyy {
  position            : absolute;
  top                 : 117px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .investors-XG6dyy {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .investors-XG6dyy:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .developer-portal-oXDFGa {
  position            : absolute;
  top                 : 178px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .developer-portal-oXDFGa {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .developer-portal-oXDFGa:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .sign-up-for-newslett-6koorm {
  position            : absolute;
  top                 : 239px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .sign-up-for-newslett-6koorm {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .sign-up-for-newslett-6koorm:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .find-a-store-dlItPO {
  position            : absolute;
  top                 : 299px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .find-a-store-dlItPO {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .overlap-group-Objecb .find-a-store-dlItPO:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq {
  position            : relative;
  display             : flex;
  flex-direction      : column;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : 260px;
  height              : auto;
  box-sizing          : border-box;
  margin-left         : 52px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .shipping-delivery-s3uZlq {
  position            : relative;
  width               : auto;
  min-width           : 260.496673584px;
  height              : auto;
  min-height          : 36px;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .shipping-delivery-s3uZlq {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .shipping-delivery-s3uZlq:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP {
  position            : relative;
  width               : 172px;
  height              : 351px;
  margin-top          : 21px;
  margin-left         : 3.0px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .about-us-EagmkN {
  position            : absolute;
  top                 : 60px;
  left                : 2px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .about-us-EagmkN {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .about-us-EagmkN:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .security-6BocsC {
  position            : absolute;
  top                 : 121px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .security-6BocsC {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .security-6BocsC:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .conformity-21DMAG {
  position            : absolute;
  top                 : 180px;
  left                : 0px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .conformity-21DMAG {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .conformity-21DMAG:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .order-status-CvnC3x {
  position            : absolute;
  top                 : 0px;
  left                : 1px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .order-status-CvnC3x {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .order-status-CvnC3x:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .trade-up-VHOFnv {
  position            : absolute;
  top                 : 243px;
  left                : 2px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Semibold", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .trade-up-VHOFnv {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex4-WwuHJM .auto-flex2-KBu8Tq .overlap-group1-wEcKjP .trade-up-VHOFnv:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex-x0NzqW {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-end;
  width               : auto;
  height              : 50px;
  box-sizing          : border-box;
  margin-top          : 16px;
  margin-left         : 36.5px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .icons8facebook50-9NU6gl {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .icons8facebook50-9NU6gl {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex-x0NzqW .icons8facebook50-9NU6gl:hover {
  transform           : scale(1.1);
}
.home-BUpDIM .auto-flex-x0NzqW .icons8facebook50-9NU6gl .shape-sVC79m {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  box-sizing          : border-box;
  margin-left         : 34px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8twitter50-OSAffm {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8twitter50-OSAffm {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8twitter50-OSAffm:hover {
  transform           : scale(1.1);
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8twitter50-OSAffm .shape-2vHAIa {
  position            : relative;
  width               : 61px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8youtube50-T7A2KG {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  margin-left         : 28px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8youtube50-T7A2KG {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8youtube50-T7A2KG:hover {
  transform           : scale(1.1);
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8youtube50-T7A2KG .shape-QUKPIu {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8instagram50-sGveuz {
  position            : relative;
  display             : inline-flex;
  flex-direction      : row;
  justify-content     : flex-start;
  align-items         : flex-start;
  width               : auto;
  height              : 50px;
  transition          : all 0.2s ease-in-out;
  box-sizing          : border-box;
  margin-left         : 33px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8instagram50-sGveuz {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8instagram50-sGveuz:hover {
  transform           : scale(1.1);
}
.home-BUpDIM .auto-flex-x0NzqW .group3-rVlLGC .icons8instagram50-sGveuz .shape-L2QeyN {
  position            : relative;
  width               : 50px;
  height              : 50px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd {
  position            : relative;
  width               : 810px;
  height              : 36px;
  margin-left         : 162px;
  flex-shrink         : 0;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .lashell-noe-legal20-xYrLZ4 {
  position            : absolute;
  top                 : 0px;
  left                : 0px;
  width               : 810px;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .lashell-noe-legal20-xYrLZ4 {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .lashell-noe-legal20-xYrLZ4:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .privacy-statement-ercxyq {
  position            : absolute;
  top                 : 0px;
  left                : 382px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in-out;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .privacy-statement-ercxyq {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .privacy-statement-ercxyq:hover {
  text-decoration     : underline;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .site-map-ASi3jS {
  position            : absolute;
  top                 : 0px;
  left                : 693px;
  width               : auto;
  height              : auto;
  color               : #ffffff;
  font                : 30.0px "SFProText-Light", Helvetica, Arial, serif;
  line-height         : 36.0px;
  letter-spacing      : -1.5px;
  text-align          : left;
  transition          : all 0.2s ease-in;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .site-map-ASi3jS {
  pointer-events      : auto;
}
.home-BUpDIM .auto-flex-x0NzqW .overlap-group5-p5dHYd .site-map-ASi3jS:hover {
  text-decoration     : underline;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}